#row1 {
    margin-top: 10em;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

h1{
    font-family: "Comic Sans MS", cursive, sans-serif;
    margin-bottom: 0.6em;
}

body {
    background-color: #78ddec;
}