html {
    min-height: 100%;
    position: relative;
}

body {
    background-color: rgb(238, 201, 231);
    margin: 0 0 100px; /* bottom = footer height */
    padding: 25px;
}

.jumbotron{ 
    background: transparent;
}

footer{
    background-color: blue;
    color: white;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 30px;
    width: 100%;
    overflow:hidden;
}

footer p {
    text-align: center;
}